<div class="jumbotron jumbotron-fluid mt-ncs">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">Escola Secundária Online</h1>
        <p class="lead">Bem-vindo à Biblioteca Virtual da Escola Secundária Online (ESO), o seu espaço para explorar uma vasta coleção de livros, artigos e materiais educativos.</p>
      </div>
    </div>
    <ul>
      <li>Encontre uma ampla variedade de livros para todas as idades e disciplinas.</li>
      <li>Acesse artigos e fichas de estudo que ajudam no aprendizado e na preparação para exames.</li>
      <li>Explore recursos adicionais que facilitam o processo de aprendizagem e oferecem suporte educacional contínuo.</li>
    </ul>
    <p>Para conhecer melhor nossos recursos e explorar tudo o que a ESO tem a oferecer, visite-nos em <a href="https://eso.edu.mz" target="_blank">ESO - Escola Secundária Online</a>.</p>
  </div>
</div>
