<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Escola Secundária Online</h1>
          <p class="lead">Bem-vindo à Biblioteca Virtual da Escola Secundária Online (ESO), o seu espaço para explorar uma vasta coleção de livros, artigos e materiais educativos:</p>
        </div>
      </div>
      <ul>
        <li>Ingerir facilmente documentos, áudio, vídeo, conjuntos de dados e seus respectivos metadados em Dublin Core.</li>
        <li>Disponibilizar esse conteúdo para públicos locais e globais, graças à interface OAI-PMH e otimizações para o Google Scholar.</li>
        <li>Emitir URLs permanentes e identificadores confiáveis, incluindo integrações opcionais com handle.net e DataCite DOI.</li>
      </ul>
      <p>Junte-se a uma comunidade internacional de <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">instituições líderes que utilizam o DSpace</a>.</p>
      <p>As contas de usuário de teste abaixo têm suas senhas configuradas como o nome deste software em minúsculas.</p>
      <ul>
        <li>Administrador do Site de Demonstração = dspacedemo+admin&#64;gmail.com</li>
        <li>Administrador da Comunidade de Demonstração = dspacedemo+commadmin&#64;gmail.com</li>
        <li>Administrador da Coleção de Demonstração = dspacedemo+colladmin&#64;gmail.com</li>
        <li>Submissor de Demonstração = dspacedemo+submit&#64;gmail.com</li>
      </ul>

    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/banner.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a></small>
</div>
