<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Escola Secundária Online</h1>
          <p class="lead">
            Bem-vindo à Biblioteca Virtual da Escola Secundária Online (ESO), o
            seu espaço para explorar uma vasta coleção de livros, artigos e
            materiais educativos:
          </p>
        </div>
      </div>
      <ul>
        <li>
          Permitir a leitura de documentos, artigos, áudios, vídeos e conjuntos
          de dados.
        </li>
        <li>
          Tornar esse conteúdo acessível para públicos locais e globais, com
          otimizações que facilitam a busca em plataformas como o Google
          Scholar.
        </li>
        <li>
          Fornecer links permanentes e identificadores confiáveis para o
          conteúdo.
        </li>
      </ul>
      <p>
        Para conhecer melhor nossos recursos e explorar tudo o que a ESO tem a
        oferecer, visite-nos em
        <a href="https://eso.edu.mz" target="_blank"
          >ESO - Escola Secundária Online</a
        >.
      </p>
    </div>
  </div>
  <picture class="background-image">
    <source
      type="image/webp"
      srcset="
        assets/dspace/images/banner.webp      2000w,
        assets/dspace/images/banner-half.webp 1200w,
        assets/dspace/images/banner-tall.webp  768w
      "
    />
    <source
      type="image/jpg"
      srcset="
        assets/dspace/images/banner.jpg      2000w,
        assets/dspace/images/banner-half.jpg 1200w,
        assets/dspace/images/banner-tall.jpg  768w
      "
    />
    <img
      alt=""
      [src]="'assets/dspace/images/banner.jpg'"
    /><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits"
    >Photo by
    <a href="https://www.pexels.com/@inspiredimages"
      >&#64;inspiredimages</a
    ></small
  >
</div>
